<!DOCTYPE html>
<html>
  <head>
    <title>messages</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/messages.js"></script>
    <script type="text/javascript" src="/scripts/favourites.js"></script>
    <script type="text/javascript" src="/scripts/products.js"></script>
    <script type="text/javascript" src="/scripts/register-page.js"></script>
    <script type="text/javascript" src="/scripts/new-listings.js"></script>
    <script type="text/javascript" src="/scripts/register-page.js"></script>
    <script type="text/javascript" src="/scripts/search.js"></script>
    <script type="text/javascript" src="/scripts/dropdown.js"></script>

    <link rel="stylesheet" href="../styles/messages.css">
    <link rel="stylesheet" href="../styles/layout.css">
    <link rel="stylesheet" href="../styles/home_page.css">
    <link rel="stylesheet" href="../styles/dropdown.css">
    <link rel="stylesheet" href="../styles/products.css">
    <link rel="stylesheet" href="../styles/favourites.css">
    <link rel="stylesheet" href="../styles/new-listings.css">
    <link rel="stylesheet" href="../styles/register-page.css">
    <link rel="stylesheet" href="../styles/listings.css">


    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"
      type="text/css"
    />
  </head>
  <body>

      <nav>
        <div class='logo-menu'>

        <a href="/"><img id="logoimage" src="https://toppng.com/public/uploads/preview/company-name-logo-11551052030ob9tu5iwdn.png" alt="logo" class="logo" /></a>
          <div class="dropdown">
            <button class="dropbtn">Products</button>
            <div class="dropdown-content">
              <a class = "category-select" data-category="Laptop">Laptops</a>
              <a class = "category-select" data-category="Monitor">Monitors</a>
              <a class = "category-select" data-category="Phone">Phones</a>
              <a class = "category-select" data-category="Camera">Cameras</a>
              <a class = "category-select" data-category="Tablet">Tablets</a>
              <a class = "category-select" data-category="Music">Music</a>
              <a class = "category-select" data-category="Accessories">Accessories</a>

            </div>
          </div>
          <button id="create" class="new-listing_button">Create Listing</button>
          <button id="create" class="register-button">Register</button>
        </div>
        <form class="search-bar">
          <input type="text" class="search-input" placeholder="Search.." />
          <input type="submit" value="search" style="display:none;"></input>
        </form>

        <ul class="user-bar">
          <li id="heart"><i class="favourites-button far fa-heart"></i></li>
          <li id="chat"><i class="message-button far fa-comment-alt"></i></li>
          <% if (!user) {%>
          <form id="myID" method="post" action="/login">
            <li><input id="em" type="text" name="email" placeholder="Email"/></li>
            <li><input id="pword" type="password" name="password" placeholder="Password"/></li>
            <li><input id="login" type="submit" name="login" value="Login" /></li>
          <%} else{ %>
            <form class="form-inline" action="/logout" method="POST" style="min-width: 350px; flex-wrap: nowrap;">
              <span> Logged in as: <%=user_info.name%> </span>
              <button type="submit" class="btn btn-outline-dark">Logout</button>
            </form>
          <% } %>
          </ul>
        </form>
      </nav>
    </div>
    <div class="main-content">
      <header class="hero">
        <div class="banner">
          <h1 class="banner-title1">
            Recommendations <button class="banner-btn">shop now</button>
            <ul class="product-image">
              <li>
                <a class='product-click-temp' data-product-id= <%=products[0].id%>
                  ><img class= "product-mainimage"
                    type="image"
                    src=  <%= products[0].main_photo%>
                    alt="Submit"
                /></a>
              </li>
              <li>
                <a class='product-click-temp' data-product-id=<%=products[1].id%>
                  ><img class= "product-mainimage"
                    type="image"
                    src=<%= products[1].main_photo%>
                    alt="Submit"
                /></a>
              </li>
              <li>
                <a class='product-click-temp' data-product-id=<%=products[2].id%>
                  ><img class= "product-mainimage"
                    type="image"
                    src=<%= products[2].main_photo%>
                    alt="Submit"
                /></a>
              </li>
            </ul>
          </h1>
          <h2 class="banner-title2">
            Price Drops <button class="banner-btn">shop now</button>
            <ul class="price-drop">
              <li>
                <a class='product-click-temp'
                  ><img class= "product-mainimage"
                    type="image"
                    src=<%= products[2].main_photo%>
                    alt="Submit"
                /></a>
              </li>
              <li>
                <a class='product-click-temp' data-product-id=<%=products[2].id%>
                  ><img class= "product-mainimage"
                    type="image"
                    src=<%= products[2].main_photo%>
                    alt="Submit"
                /></a>
              </li>
              <li>
                <a class='product-click-temp' data-product-id=<%=products[2].id%>
                  ><img class= "product-mainimage"
                    type="image"
                    src=<%= products[2].main_photo%>
                    alt="Submit"
                /></a>
              </li>
            </ul>
          </h2>
          <h3 class="banner-title3">
            New Product drops <button class="banner-btn">shop now</button>
            <ul class="new-products-drops">
              <li>
                <a class='product-click-temp' data-product-id=<%=products[2].id%>
                  ><img class= "product-mainimage"
                    type="image"
                    src=<%= products[2].main_photo%>
                    alt="Submit"
                /></a>
              </li>
              <li>
                <a class='product-click-temp'data-product-id=<%=products[2].id%>
                  ><img class= "product-mainimage"
                    type="image"
                    src=<%= products[2].main_photo%>
                    alt="Submit"
                /></a>
              </li>
              <li>
                <a class='product-click-temp'data-product-id=<%=products[2].id%>
                  ><img class= "product-mainimage"
                    type="image"
                    src=<%= products[2].main_photo%>
                    alt="Submit"
                /></a>
              </li>
            </ul>
          </h3>
        </div>
      </header>
    </div>
  </body>
</html>
